.container {
    height: 100%;
    grid-area: sidebar;
    background-color: var(--sidebar-color);
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "avatar" "credentials" "info" "side-footer";
    overflow-y: hidden;
}

.avatar {
    height: 100%;
    grid-area: avatar;
    min-width: 0;
    padding: 2.8em 0.8em;
    display: grid;
    justify-content: center;

    &Img {
        height: 140px;
        width: 140px;
        border-radius: 25px;
    }
}

.credentials {
    grid-area: credentials;
    background-color: var(--primary-color);
    padding: 1.2em 0;

    h3 {
        color: var(--accent-color);
        text-align: center;
        font-size: 1.5rem;

        a {
            text-decoration: none;
            color: var(--accent-color);
        }
    }
}

.menu {
    grid-area: info;
    padding: 2.4em;

    &List {
        list-style-type: none;
        font-size: 1.2rem;

        li {
            a {
                display: block;
                text-decoration: none;
                padding: 0.35em 0;
            }

            span {
                color: #000;
                border-bottom: 1px solid transparent;
                transition: all 75ms ease-in;
            }

            &:hover {
                span {
                    border-bottom-color: var(--accent-color);
                }
            }

            &.active {
                span {
                    color: #000;
                    border-bottom-color: var(--accent-color);
                    border-bottom-width: 2px;
                }
            }
        }
    }
}

.footer {
    padding-bottom: 2.5em;
    grid-area: side-footer;
}

.iconsContainer {
    display: flex;
    justify-content: center;

    .iconImg {
        height: 2.25em;
        width: 2.25em;
        margin: 0 1.7em;
    }
}
