<div class="layout">
  <div class="layout__header">
    <h1 class="layout__header__center title">Activity</h1>
  </div><!-- /header -->
  <div class="layout__content">
    <div class="content__medium">
      <a name="content-medium"></a>
      <div class="content__header">
        <div class="content__header-title">
          <img src="/assets/logos/medium.png">
          <hr>
        </div>
      </div>
      <app-content-medium></app-content-medium>
    </div><!-- /medium -->
    <div class="content__git">
      <a name="content-git"></a>
      <div class="content__header">
        <div class="content__header-title">
          <img src="/assets/logos/github_transparent.png">
        </div>
      </div>
    </div><!-- /git -->
    <div class="content__twitter" name="content-twitter">
      <a name="content-twitter"></a>
      <div class="content__header">
        <div class="content__header-title">
          <img src="/assets/logos/twitter.png">
        </div>
      </div>
    </div>
  </div><!-- /content -->
</div>