.layout {
    opacity: 1;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: 18.75em 1fr;
    grid-template-rows: 100% 100%;
    z-index: 199;

    @media (max-width: 420px) {
        display: grid;
        grid-template-columns: 100%;
        z-index: 199;
        background-size: cover;
    }
}

.contentContainer {
    grid-area: content;
    display: flex;
    justify-content: space-around;

    @media (max-width: 420px) {
        display: none;
    }
}

.content {
    max-width: 43.75rem;
}

.projectsList {
    padding: 0 2.5em;
    display: grid;
    grid-row-gap: 1.5em;
}
