.layout {
    opacity: 1;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: 300px 700px;
    z-index: 199;

    @media (max-width: 600px) {
        display: grid;
        grid-template-areas: "content" "sidebar";
        grid-template-columns: 100% 0;
        grid-template-rows: auto 0;
        z-index: 199;
        background-size: cover;
    }
}

.sidebar {
    @media (max-width: 600px) {
        display: none !important;
    }
}

.errorMessage {
    color: var(--error-color);
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-areas: "title" "body" "chart";
    grid-template-rows: auto 1fr 1fr;

    @media (max-width: 600px) {
        grid-template-areas: "title" "body" "chart" "footer";
        grid-template-rows: auto auto auto auto;
    }
}

.titleContainer {
    grid-area: title;
}

.chartContainer {
    padding-top: 20px;
    grid-area: chart;
}

.weatherContainer {
    grid-area: body;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weatherBox {
    display: grid;
    grid-row-gap: 24px;
    background-color: var(--sidebar-color);
    padding: 57px 24px;

    @media (max-width: 600px) {
        width: 100%;
    }
}

.temperature {
    color: var(--primary-color);
    font-size: 8rem;
    line-height: 8rem;
    text-align: center;
}

.updatedTitle {
    text-align: center;
}

.footerContainer {
    grid-area: footer;
    padding: 22px;
    text-align: center;
    display: none;

    @media (max-width: 600px) {
        display: block;
    }
}

.footerTitle {
    color: var(--accent-color);
    text-align: center;
    font-size: 20px;
}
