.container {
    display: grid;
    grid-template: "title title" "image description";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    background-color: var(--sidebar-color);
    padding: 24px 32px;
}

.title {
    grid-area: title;
}

.titleText {
    font-size: 24px;
    font-weight: 900;
}

.imgContainer {
    grid-area: image;
}

.img {
    height: 120px;
    width: 120px;
}

.descriptionContainer {
    grid-area: description;
}

.divider {
    margin-top: 24px;
    margin-bottom: 8px;
}
