@import '~variables.sass'

.layout
  opacity: 1
  height: 100%
  display: grid
  grid-template-areas: "sidebar" "content"
  grid-template-rows: 100% 100%
  z-index: 199

// SIDEBAR
.sidebar
  height: 100%
  grid-area: sidebar
  background-color: $sidebarColor
  display: grid
  grid-template-rows: 25% 5% 1fr 7%
  grid-template-areas: "avatar" "credentials" "info" "side-footer"
  grid-gap: 10px
  overflow-y: hidden

.sidebar__avatar
  grid-area: avatar
  min-width: 0
  display: grid
  grid-template-columns: 25% 50% 25%
  grid-template-areas: ". avatar-photo ."
  padding: 12px

.sidebar__avatar-photo
  grid-area: avatar-photo
  width: initial
  height: 100%
  align-self: center
  border-radius: 50%
  justify-self: center

.sidebar__credentials
  grid-area: credentials
  font-family: $titlesFont
  align-self: center
  justify-self: center

.sidebar__info
  padding: 0 24px
  grid-area: info
  font-family: $typefaceFont
  color: $accentColor
  justify-self: center

.sidebar__footer
  grid-area: side-footer
  width: 50%
  justify-self: center

.content
  grid-area: content
  // background-color: $accentColor

@media (min-width: 600px)
  .layout
    display: grid
    grid-template-areas: "sidebar content"
    grid-template-columns: 33% 67%
    z-index: 199
    background-size: cover

.modal_background
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  opacity: 0.3
  background-size: cover
  z-index: -100