<div class="layout">
  <div class="sidebar">
    <div class="sidebar__avatar">
      <img src="/assets/images/avatar.jpg" alt="" class="sidebar__avatar-photo">
    </div>
    <div class="sidebar__credentials">
      <h3>Goncharov Nikita</h3>
    </div>
    <div class="sidebar__info">
      <h2 class="title-md">I am web developer from Russia</h2>
      <h3 class="pd-12-0">My most recent toolkit is:</h3>
      <div class="flex flex-space-between">
        <img class="icon-32" src="/assets/icons/angular.svg" alt="angular-icon">
        <img class="icon-32" src="/assets/icons/golang.svg" alt="golang-icon">
        <img class="icon-32" src="/assets/icons/mongodb.svg" alt="mongodb-icon">
        <img class="icon-32" src="/assets/icons/docker.svg" alt="docker-icon">
      </div>
      <p class="pd-12-0 font-md"></p>
    </div>
    <div class="sidebar__footer">
      <div class="flex flex-space-between">
        <a target="blank" href="https://github.com/goncharovnikita"><img src="/assets/icons/github.svg" alt="" class="icon-48 pointer"></a>
        <a target="blank" href="https://medium.com/@cashalot"><img src="/assets/icons/medium.svg" alt="" class="icon-48 pointer"></a>
        <a target="blank" href="https://twitter.com/jamberspof"><img src="/assets/icons/twitter.svg" alt="" class="icon-48 pointer"></a>
      </div>
    </div>
  </div><!-- /sidebar -->
  <div class="content">
    <app-content></app-content>
  </div><!-- /content -->
</div>