* {
  --primary-color: #e6f3ff;
  --sidebar-color: #e6f3ffe8;
  --accent-color: #66b5ff;
  --deep-blue: #004080;
  --typeface-color: #a3c2c2;

  --titles-font: "Merriweather-Regular";
  --typeface-font: "Quicksand-Regular";
}
